.button a {
  text-decoration: none;
}

.button {
  margin-bottom: 4%;
}

.button-text {
  font-family: 'Jost', sans-serif;
  background-color: #c4e5ff;
  padding: 1% 2% 1% 2%;
  display: inline;
  border-radius: 0.5em;
  color: #007ab5;
  box-shadow: inset 0 -0.1em 0 #005a85;
}
